body {
    font-family: 'Titillium Web', sans-serif;
}

.navbar-brand {
    font-size: 25px;
    font-weight: bold;
}

.paragraph {
    font-size: 20px;
}

.container-form {
    max-width: 640px;
}

.footer-copyright {
    background-color: #000;
}